<div id="features-page">
<h2>Création rapide de formulaires</h2>
<p>Glissez-déposez, pour plus de facilité</p>
<p>Pour créer votre formulaire, aucune compétence technique particulière n'est nécessaire : il vous suffit de glisser-déposer les champs souhaités</p>
<p><img src="/profiles/yakforms_profile/files/imgforms/creation_rapide.png"></img></p>
<p>&nbsp;<a href="/creation-rapide-de-formulaires">En savoir plus...</a></p>

<h3>Cloner des formulaires existants</h3>
<p>Besoin de réutiliser un formulaire que vous aviez déjà fait ? Ou de gagner du temps en utilisant ou adaptant un formulaire déjà prêt à l'usage ? Vous pouvez réutiliser un formulaire en le clonant : la structure sera dupliquée automatiquement, sans qu'aucune réponse ne soit copiée.</p>
<p><a href="/creer-un-modele">En savoir plus...</a></p>

<h3>Formulaire sur plusieurs pages</h3>
<p>Votre formulaire est long... Trop long ? Vous pouvez le découper sur plusieurs pages afin d'en faciliter le remplissage, en glissant-déposant le champ "saut de page" aux endroits souhaités.</p>
<p><img src="/profiles/yakforms_profile/files/imgforms/multipages-2.png"></img></p>

<p><img src="/profiles/yakforms_profile/files/imgforms/multipages.png"></img></p>

<h3>Multiple choix de champs</h3>
<p>Que vous ayez besoin de champs textes, de cases à cocher, d'une liste de sélection, de donner la possibilité à vos utilisateurs de mettre en ligne des fichiers, etc... Yakforms vous propose de nombreux choix de champs qui vous permettront de créer un formulaire adapté à vos besoins.</p>
<p><img src="/profiles/yakforms_profile/files/imgforms/champs.png"></img></p>

<h2>Participation facile</h2>
<h3>Adapté aux supports mobiles</h3>
<p>Les yakforms s'adaptent automatiquement à votre support et peuvent être visualisés et remplis sur mobiles et tablettes.</p>
<p><img class="no-shadow" src="/profiles/yakforms_profile/files/imgforms/mobile.png" alt="Mobiles" /></p>
<p>&nbsp;</p>

<h3>Diffusion et intégration simplifiées</h3>
<p>Vous pouvez facilement partagez vos fomulaires par email, sur un site web, ou sur les réseaux sociaux. Vous pouvez même les embarquer sur votre site web.</p>
<p><img src="/profiles/yakforms_profile/files/imgforms/export.png"></img></p>
<p><a href="/partager">En savoir plus...</a></p>

<h3>Multiples thèmes</h3>
<a class="anchorjs-link " href="#multiples-thèmes" aria-label="Anchor link for: multiples thèmes" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Multiples thèmes</h2>
<p>Par défaut, le thème est plutôt neutre, mais vous pourrez bientôt en choisir d'autres (en cours), plus adaptés ou adaptables - dans les grandes lignes - à votre charte graphique.</p>
<p><img src="/profiles/yakforms_profile/files/imgforms/fonctionnalites_forms_theme1.png" alt="Theme responsive standard"></p>
<p><img src="/profiles/yakforms_profile/files/imgforms/fonctionnalites_forms_theme2.png" alt="theme Frama"></p>
<p>Nous avons encore un peu de travail à fournir pour vous proposer un plus grand choix de thèmes. Mais nous ne vous avons pas oublié !</p>

<h2>Options avancées</h2>
<h3>Champs conditionnels</h3>
<p>Vous pouvez masquer/afficher/forcer un champ suivant les réponses de vos utilisateurs. Par exemple, si une case à cocher "Autre" est sélectionnée, vous pouvez faire apparaître un champ texte "autre" dans laquelle l'utilisateur devra préciser sa réponse.</p>
<p><img src="/profiles/yakforms_profile/files/imgforms/conditionnel1.png" alt="ConditionnelAvant" /></p>
<p><img  src="/profiles/yakforms_profile/files/imgforms/conditionnel2.png" alt="Conditionnel2.png" /></p>
<p><a href="/champs-conditionnels">En savoir plus...</a></p>

<h3>Règles de validation</h3>
<p>Vous pouvez ajouter à votre formulaire, si vous le souhaitez, des règles de validation qui pourront être simples ou complexes. Par exemple : « Vérifier que le champ "âge" soit compris entre 18 et 118 », ou « vérifier que le champ "kilomètres" soit supérieur à 12 ».</p>
<p><a href="/regles-de-validation">En savoir plus...</a></p>

<h3>Courriels</h3>
<p>Vous pouvez envoyer un email à chaque soumission, à vous même, au répondant, aux deux, ou même à qui vous voulez. Cet email peut, si vous le souhaitez, contenir les valeurs saisies au formulaire.</p>
<p><img src="/profiles/yakforms_profile/files/imgforms/courriel.png" alt="Courriel" /></p>
<p><a href="/courriels">En savoir plus...</a></p>

<h3>Validation de la soumission par email</h3>
<p>Vous pouvez demander à ce que la soumission soit confirmée par email. Par exemple si vous voulez éviter qu'une même personne réponde plusieurs fois. Cette dernière recevra alors un email de confirmation. Tant que cet email n'aura pas été saisi, sa réponse au formulaire sera considérée comme invalide.</p>

<h3>Page de confirmation personnalisée</h3>
<p>Vous pouvez définir un message de confirmation, ou renvoyer le répondant sur la page de votre choix (votre site web, par exemple)</p>
<p><img src="/profiles/yakforms_profile/files/imgforms/confirmation.png" alt="confirmation" /></p>
<p><a href="/confirmation">En savoir plus...</a></p>

<h3>Limitation du nombre de soumissions</h3>
<p>Vous pouvez limiter le nombre total de soumissions à un chiffre inférieur à 1000 (mais pas au-dessus, voir la page "limitations")</p>
<p>Vous pouvez aussi limiter le nombre de soumissions pour un même utilisateur (identifié par un cookie anonymisé)</p>
<p><img src="/profiles/yakforms_profile/files/imgforms/limitations.png" alt="Limitations" /></p>

<h3>Désactivation/fermeture du formulaire.</h3>
<p>Par défaut, votre formulaire est actif pendant 6 mois (9 mois maximum, voir la page "limitations"), mais vous pouvez le fermer à la soumission quand vous le souhaitez, tout en conservant la possibilité d'y accéder.</p>
<p><img src="/profiles/yakforms_profile/files/imgforms/fermeture.png" alt="Fermeture" /></p>

<h2>Analyse et téléchargement</h2>
<h3>Visualisation</h3>
<p>Vous pouvez facilement accéder à la liste des soumissions, et visualiser ces dernières les unes à la suite des autres.</p>
<p><img src="/profiles/yakforms_profile/files/imgforms/visualisation.png" alt="Visualisation" /></p>

<h3>Téléchargement</h3>
<p>Les soumissions peuvent être téléchargées aux formats tableurs habituels (.csv pour Libre Office Calc ou Excel) en vue de traitements plus complexes.</p>
<p><img src="/profiles/yakforms_profile/files/imgforms/telechargement.png" alt="Téléchargement" /></p>
<p><a href="/telechargement">En savoir plus...</a></p>

<h3>Analyse</h3>
<p>Un outil d'analyse des réponses (très basique) est inclus, vous permettant d'obtenir immédiatement des statistiques. Par exemple, le nombre de réponses sur un champ texte, le total ou la moyenne sur les champs numériques, ou le détail des réponses sur les champs à choix multiples.</p>
<p><img src="/profiles/yakforms_profile/files/imgforms/analyse.png" alt="Analyse" /></p>

<h3>Graphes</h3>
<p>Les réponses analysées peuvent faire l'objet d'un graphique automatiquement généré. (NB : pour des graphiques plus complets, téléchargez vos résultats dans un tableur comme Libre Office)</p>
<p><img src="/profiles/yakforms_profile/files/imgforms/graphes.png" alt="Graphes" /></p>

<h2>Respect de vos utilisateurs et de vos données</h2>

<h3>Anonymat</h3>
<p>Les données issues de Yakforms sont anonymisées, il est impossible pour un créateur de formulaire de récupérer les adresses IP des répondants. Il va de soi cependant que si le créateur du formulaire place des champs "Nom" ou "Prénoms" et que le répondant les remplit avec des données correctes, ces données pourront être récupérées (c'est pourquoi <strong>il ne faut JAMAIS saisir un mot de passe dans Yakforms</strong> !).</p>

<h3>Logiciels libres</h3>
<p>Yakforms repose entièrement sur des logiciels libres, qui autorisent et permettent une installation du services sur vos propres serveurs.<br>
<p>Yakforms est propulsé par <a href="https://www.drupal.org/">Drupal</a>.</p>
<br /> &nbsp;
</p>
</div>
