<div id="intro" class="main-row">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-lg-6">
        <h1>Yakforms</h1>
        <h2>
          Concevez vos enquêtes en ligne facilement tout en respectant votre public
        </h2>
        <p class="buttons">
          <a href="/node/add/form1" class="btn btn-lg btn-primary">Créer un formulaire</a>
          <a href="/fonctionnalites" class="btn btn-lg btn-outline-light"><i class="lk-play-circle"></i> Visite guidée</a>
        </p>
      </div>
    </div>
    <div class="row d-none d-sm-flex">
      <p class="text-center mx-auto">
        En savoir plus sur Yakforms<br /><i class="lk-chevron-down"></i>
      </p>
    </div>
  </div>
</div>
<div id="what">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="sr-only">Prise en main</h2>
        <div class="tabs">
          <input aria-hidden="true" type="radio" id="tab1" name="tab-group" checked><label  aria-hidden="true" for="tab1">Simplicité</label>
          <input  aria-hidden="true" type="radio" id="tab2" name="tab-group"><label  aria-hidden="true" for="tab2">Partage</label>
          <input aria-hidden="true" type="radio" id="tab3" name="tab-group"><label  aria-hidden="true" for="tab3">Analyse</label>
          <div class="tab-content tab1">
            <div class="row">
              <div class="col-md-6 col-lg-7">
                <div class="web-browser"><div class="toolbar"><i class="lk-circle"></i><i class="lk-circle"></i><i class="lk-circle"></i><span class="search-bar"></span><i class="lk-circle"></i></div><img alt="" src="/profiles/yakforms_profile/files/imgforms/screen1.png" class="img-fluid"></div>
              </div>
              <div class="px-3 col-md-6 col-lg-5">
                <h3>Création de formulaires simple et rapide.</h3>
                <p>Créez vos formulaires par simple glisser-déposer. Le grand nombre de champs disponibles permet de créer des formulaires couvrant un large éventail de besoins.</p>
              </div>
            </div>
          </div>
          <div class="tab-content tab2">
            <div class="row">
              <div class="col-md-6 col-lg-7 order-md-2">
                <div class="web-browser"><div class="toolbar"><i class="lk-circle"></i><i class="lk-circle"></i><i class="lk-circle"></i><span class="search-bar"></span><i class="lk-circle"></i></div><img alt="" src="/profiles/yakforms_profile/files/imgforms/screen2.png" class="img-fluid"></div>
              </div>
              <div class="px-3 col-md-6 col-lg-5">
                <h3>Partagez vos formulaires.</h3>
                <p>Une fois votre formulaire publié, vous pourrez le partager par email ou sur les réseaux sociaux. Vous pourrez même l'embarquer sur votre site web et autoriser son clonage afin de permettre à d'autres de gagner un temps précieux.</p>
              </div>
            </div>
          </div>
          <div class="tab-content tab3">
            <div class="row">
              <div class="col-md-6 col-lg-7">
                <div class="web-browser">
                  <div class="toolbar"><i class="lk-circle"></i><i class="lk-circle"></i><i class="lk-circle"></i><span class="search-bar"></span><i class="lk-circle"></i></div>
                  <img alt="" src="/profiles/yakforms_profile/files/imgforms/screen3.png" class="img-fluid">
                </div>
              </div>
              <div class="px-3 col-md-6 col-lg-5">
                <h3>Traitez vos résultats.</h3>
                <p>Vous pourrez aisément accéder les réponses en ligne, les visualiser sous forme de graphiques ou les exporter en vue de traitements plus complexes.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
