<p>Yakforms comporte un certain nombre de limitations.</p>
<h2>Durée de vie d'un formulaire ([yakforms-limitations:form-lifetime] semaines)</h2>
<p>
    Un formulaire est hébergé sur Yakforms par défaut pour<strong>[yakforms-limitations:form-lifetime] semaines maximum</strong>. Ensuite ? il est "désactivé" pour une période de 2 mois, c'est à dire que vous pouvez encore y accéder, télécharger les résultats, le prolonger,
    etc. mais les internautes ne peuvent plus le remplir.
</p>
<p>Ne vous inquiétez pas, vous pouvez heureusement le prolonger ! Pour cela, il suffit d'éditer votre formulaire, puis d'en modifier la date d'expiration (en rajoutant une période pouvant aller jusqu'à [yakforms-limitations:form-lifetime] semaines). Et ainsi de suite :)</p>
<p>Pour modifier votre formulaire, vous devez :</p>
<ol>
    <li>aller dans <strong>Modifier</strong></li>
    <li>cliquer sur <strong>Autres options</strong></li>
    <li>modifier la date dans l'encadré <strong>Date d'expiration</strong></li>
    <li>cliquer sur <strong>Enregistrer</strong> (tout en bas)</li>
</ol>
<p>Cette limitation vise à éviter ce que Yakforms héberge des formulaires sans limite de durée, occupant inutilement de la place sur nos serveurs et risquant de saturer le service.</p>
<h2>Nombre de réponses par formulaire ([yakforms-limitations:submissions-per-form])</h2>
<p>
    Par défaut, Yakforms autorise jusqu'à <strong>[yakforms-limitations:submissions-per-form] réponses</strong> par formulaire. Ensuite, ce dernier sera désactivé, c'est à dire que vous pourrez toujours y accéder, télécharger les résultats (et les supprimer), mais plus aucune réponse ne sera
    enregistrée. Rassurez-vous, vous recevrez un email lorsque votre formulaire atteindra 900 réponses, ce qui vous permettra d'anticiper. Et après ? Soit vous téléchargez, puis effacez les réponses déjà données (ce qui réactivera
    automatiquement votre fomulaires aux répondants), soit... vous allez voir ailleurs ! :) Par exemple :
    <ul>
    <li>en montant <a href="https://framagit.org/framasoft/framaforms/-/wikis/Installing-Framaforms-through-the-installation-profile">votre propre instance de Yakforms</a> </li>
    <li> soit en utilisant un service comme <a href="https://webform.com/">Webform</a>, par exemple.</li>
    </ul>
</p>

<p>Cette limitation vise à éviter d'exploser la base de données de Yakforms (par exemple avec un utilisateur qui publierait un formulaire receuillant un million de réponses, pénalisant d'office tous les autres utilisateurs.</p>
<h2>Nombre de formulaires par utilisateur ([yakforms-limitations:forms-per-user])</h2>
<p>Un même utilisateur ne peut pas avoir plus de <strong>[yakforms-limitations:forms-per-user] formulaires actifs</strong>.</p>
<p>
    Là encore, il s'agit d'éviter les utilisateurs « extrêmes » qui monopoliseraient les ressources du service. Si vous dépassez cette limite, c'est probablement que vous avez besoin d'héberger vous même vos formulaires, plutôt que de nous
    les confier :)
</p>
<p><i> « Je ne veux pas être limité⋅e ! Je veux tout, gratuitement, maintenant ! » </i></p>
<p>Pas de problème, mais alors ça ne sera pas chez nous :)</p>
<p>Yakforms est un logiciel libre, vous pouvez donc le mettre en place pour votre usage, il vous suffit pour cela de suivre <a href="https://yakforms.org/pages/install.html">notre tutoriel</a>.</p>
<p>Et si cela vous parait trop complexe, un site très proche de Yakforms propose un service sur mesure : <a href="https://webform.com/">Webform</a>. N'hésitez pas !</p>
